<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Agendamento</title>

    <link rel="stylesheet" href="product-create.component.css">

</head>
<body>
    <form class="form" action="">
        <div class="card">
            <div class="card-top">
                <img class="imgAgendando" src="/assets/img/agendarIcon.png" alt="">
                <h2>Realizar Agendamento</h2>
            </div>

            <div class="card-group">
                <label>Descrição do Corte</label>
                <input type="text" name="descricaoCorte" placeholder="Descreva seu corte" [(ngModel)]="product.name" name="name" required> 
            </div>
            <div class="card-group">
                <label>Data do corte</label>
                <input type="date" name="dataCorte" placeholder="Informe a data do corte" [(ngModel)]="product.date" name="date" required> 
            </div>
            <div class="card-group">
                <label>Horário do corte</label>
                <input type="text" name="horaCorte" placeholder="Informe o horário do corte" [(ngModel)]="product.time" name="time" required>
            </div>
            <div class="card-group bttn">
                <button type="button"(click)="createProduct()">Salvar</button>
            </div>
            <div class="card-group bttn" routerLink="">
                <button type="button">Cancelar</button>
            </div>
        </div>
    </form>
</body>
</html>