<mat-card>
    <mat-card-title> Faça já o seu agendamento ;-)</mat-card-title>
    <form >
        
        <mat-form-field>
            <input matInput placeholder="Informe o seu nome"
            [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Informe o serviço"
            [(ngModel)]="product.service" name="service">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data e hora final"
            [(ngModel)]="product.date" name="date">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createProduct()" color="primary" >
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancelProduct()" >
        Cancelar
    </button>
</mat-card>
