<mat-card>
    <mat-card-title> Faça já o seu agendamento ;-)</mat-card-title>
    <form>
        
        <mat-form-field>
            <input matInput placeholder="Descrição do corte">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data e hora inicial">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data e hora final">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createProduct()" color="primary" >
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancelProduct()" >
        Cancelar
    </button>
</mat-card>
