
.header {
    background-image: url("/assets/img/fundosite.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header .logonaregua {
    max-height: 190px;
    padding-left: 1px;
}
.header .title-group {
    color: rgb(247, 241, 241);
    padding-left: 1px;
    padding-top: 14px;
}
.header i {
    padding-right: 10px;
}


