<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Be+Vietnam+Pro:wght@900&family=Carter+One&family=Orelega+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Be+Vietnam+Pro:wght@900&family=Carter+One&family=Orelega+One&family=Vast+Shadow&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Be+Vietnam+Pro:wght@900&family=Carter+One&family=Fondamento&family=Orelega+One&family=Vast+Shadow&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>
<body>
    <header>
        
        <div class="center">
            <div class="texto-sobre btn" routerLink="/products/create">
                <h1><span style="color: rgb(245, 241, 241);">Bem Vindo! Este é o sistema</span><br/><span style="color: #d8bc1b;">NaRégua</span></h1>
                <p>O NaRégua é um sistema desenvolvido por alunos da Universidade Federal da Paraíba que combina o tradicional com o moderno, sempre preocupado com seu estilo. Aqui, enquanto você corta seu cabelo ou cuida da sua barba, aproveita para degustar uma de nossas cervejas, ver uma tv ou ainda jogar uma sinuca.</p>
                <button>Agende seu horário</button>
            </div>
            <div class="fotos">
                <div class="imgMembros">
                    <h2 class="titou">Desenvolvido by:</h2>
                    <img class="foto1" src="/assets/img/euPerfil.png" alt="">
                    <img class="foto2" src="/assets/img/aderaldo.jpg" alt="">
                    <img class="foto3" src="/assets/img/aisllan.jpg" alt="">
                </div>
            </div>
        </div>
    </header>
</body>
</html>