body{
    background-image: url("/assets/img/fundosite.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    padding: 55px;
    padding-left: 80px;
}

.form{
    width: 350px;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 300px;
}

.card2{
    background-image: url("/assets/img/paredeBranca.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.card-topp{
    text-align: center;
}

.card-group{
    margin-bottom: 15px;
}

.card-group > button{
    background-image: linear-gradient(to right, rgb(11, 11, 34), #312d2d);
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
    cursor: pointer;
}

.bttn button:hover{
    background-image: linear-gradient(to right, rgb(11, 11, 34), #0f0c0c);
}

.imgMenuBarber{
    border-radius: 25px;
    width: 50px;
    box-shadow: 1px 1px 5px #ccc;
}

.titullo{
    color: red;
}