<mat-card class="bloco mat-elevation-z4">
    <i class="material-icons icon-key">description</i>
    <mat-card-title class="title">Menu Barbeiro</mat-card-title>

    
        <button  mat-raised-button class="button button_ConsularUsuários" routerLink="/userQuery">
            Consultar usuários
        </button>
    
        <button  mat-raised-button class="button button_EditarPginaInicial" routerLink="">
            Editar página inicial
        </button>
    
        <button  mat-raised-button class="button button_EditarAgendamento" routerLink="">
            Editar agendamento
        </button>
    
        <button  mat-raised-button class="button button_EditarSenha" routerLink="/updatePassword">
            Editar chave de acesso
        </button>
    
    

</mat-card>
