<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar chave de acesso admin</title>

</head>
<body>

    <form class="form3" action="#">
        <div class="card">
            <div class="card-top">
                <img class="imgAcessoAdmin" src="/assets/img/upgradeChaveAcesso.png" alt="">
                <h2 class="title">Atualizar chave de acesso</h2>
            </div>

            <div class="card-group1">
                <label>Nova chave de Acesso</label>
                <input type="password" name="Chave de Acesso" placeholder="Digite aqui" required>
            </div>

            <div class="card-group1 bttn" routerLink="/baberMenu">
                <button type="button">Atualizar</button>
            </div>
            <div class="card-group1 bttn" routerLink="/baberMenu">
                <button type="button">Cancelar</button>
            </div>
        </div>
    </form>
    
</body>
</html>