.sidenav {
    background-image: url("/assets/img/tijoloPreto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
}

.sidenav a {
    padding-top: -5px;
    padding-left: 0px;
    color: rgb(247, 241, 241);
}
.sidenav i{
    padding-right: 10px;
}
.content{
    padding: 5px;
    padding-right: 6px;
    padding-top: 5px;
    background-color: #FFF;
}