.sidenav {
    background-image: url("/assets/img/tijoloPreto.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 200px;
}

.sidenav a {
    color: #FFF;
}
.sidenav i{
    padding-right: 10px;
}
.content{
    padding: 16px;
    background-color: #FFF;
}