<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Agendamento</title>

    <link rel="stylesheet" href="product-crud.component.css">
</head>
<body>

    <form class="but" action="">
        <div class="agend">
            
            <div class="card-top">
                <img class="imgAgend" src="" alt="">
        
            </div>
            <div class="card-grup bttn">
                <button mat-raised-button (click)="navigateToCalendar()">Consultar Horários</button>
            </div>
            <div class="card-grup bttn">
                <button mat-raised-button (click)="navigateToProductCreate()">Realizar Agendamento</button>
            </div>
        </div>

    </form>
    
</body>
</html>
