form{
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 200px;
}


button{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    
}

.entrar{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 290px;
}

.cadastro{
    margin-bottom: 10px;
    margin-left: 272px;
}

.title{
    margin-left: 295px;
}

.material-icons{
    margin-left: 295px;
    font-size: 60px;
    margin-bottom: 10px;
}

.button_areaRestrita{
    display: flex;
    margin-top: 20px;
    background-color: rgb(196, 39, 28);
    font-size: 15px;
    margin-left: 920px;
}

.icon-lock{
    font-size: 25px;
    margin-left: 0;
    margin-top: 5px;
    
}

.bloco{
    background-color: efeded;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    
}