<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Acesso</title>

    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    
    <form class="form" action="#">
        <div class="card">
            <div class="card-top">
                <img class="imglogin" src="assets/img/user.png" alt="">
                <h2 class="title">Login de Usuário</h2>
            </div>

            <div class="card-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Digite seu email" required>
            </div>

            <div class="card-group">
                <label>Senha</label>
                <input type="password" name="senha" placeholder="Digite sua senha" required>
            </div>

            <div class="card-group">
                <label><input type="checkbox"> Lembre-me</label>
            </div>

            <div class="card-group btn" routerLink="home">
                <button type="submit" [disabled]="disabled()">ACESSAR</button>
            </div>
            <div class="card-group btn" routerLink="/creatAccount">
                <button type="button">CRIAR UMA CONTA</button>
            </div>

            

        </div>

        <button mat-raised-button class="button_areaRestrita" routerLink="loginAdimComponent">
            <i class="material-icons icon-lock">lock</i>
            Acesso Restrito
        </button>
    </form>

   

</body>
</html>







